.env
venv/
**/__pycache__/
*.pyc
logs/
data/bronze/prices/kaggle_raw/
data/bronze/filings/
data/bronze/prices/kaggle/
data/bronze/news/
data/silver/
data/gold/
dbt_project/target/
dbt_project/dbt_packages/
